Robot:
  Watchdog:
    Timeout:2000;
  DifferentialDriveModule:
    ClawController:
      SerialPortName:/dev/ttyACM0;
      BaudRate:38400;
      TimeoutMillis:2000;
      Address:128;
  TcpServer:
    PortNumber:12345;
  VideoStreamer:
    MjpegStreamerPath:/root/robot/clank/lib/module/VideoStreamer/mjpg-streamer/;
